:root {
  --background: #363a41;
  --foreground: #e5e6e9;
  --glow: #ffffff;
  --glow-accent: #a7dfffA0;
  --accent: #5a606b;
  --shade: #1e2229;
  --fore-accent: #c5eaff;
  --accent-blue: #60c5ff;

  --nav-triag-size: 24px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--background);
  color: var(--foreground);
}

#main-content {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50.1%,-50.1%);
	transform: translate(-50.1%,-50.1%);
	
	text-align: center;
}

a {
  color: var(--fore-accent);
	font-size: xx-large;
	letter-spacing: 0.05em;
	text-decoration: none;

  transition: all 0.2s ease-in;
}

a:hover {
  color: var(--glow);
	text-shadow:
    0px 0px 8px var(--glow-accent),
    0px 0px 2px var(--glow);
	letter-spacing: 0.08em;
}

.content {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;

  display: grid;
  grid-template-columns: 64px 1fr 1fr 64px;
  grid-template-rows: 8px repeat(8, 1fr) 8px;
}

.hidden {
  opacity: 0;
}

.spoiler {
  color: var(--shade);
  background-color: var(--shade);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

#section,
#question,
#answers {
  font-size: x-large;
  padding: 16px;
  border-radius: 16px;

  transition: opacity 0.2s ease-in;
}

#section {
  color: var(--accent);
  grid-column: 2;
  grid-row: 5 / 6;
  margin: 0 40px 0 40px;
}

#question {
  background-color: var(--accent);
  grid-column: 2;
  grid-row: 2 / 5;
  margin: 40px;
  cursor: pointer;

  box-shadow: 10px 10px 16px #0000005d;
}

#answers {
  background-color: var(--accent);
  grid-column: 3;
  grid-row: 2 / 10;
  margin: 40px;

  box-shadow: 10px 10px 16px #0000005d;
}

#answers > * {
  margin: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

#prev-button {
  grid-column: 1;
  grid-row: 1 / 11;
}

#next-button {
  grid-column: 4;
  grid-row: 1 / 11;
}

#prev-button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  border-top: var(--nav-triag-size) solid transparent;
  border-bottom: var(--nav-triag-size) solid transparent; 
  border-right: calc(2 * var(--nav-triag-size)) solid var(--accent); 
}

#next-button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  border-top: var(--nav-triag-size) solid transparent;
  border-bottom: var(--nav-triag-size) solid transparent; 
  border-left: calc(2 * var(--nav-triag-size)) solid var(--accent); 
}

#options {
  grid-column: 2;
  grid-row: 6 / 10;

  padding: 16px;
  margin: 0 40px 0 40px;
}

#next-button,
#prev-button {
  color: var(--foreground);
  opacity: 0.2;

  transition: all 0.05s ease-in;
}

#next-button:hover,
#prev-button:hover {
  opacity: 0.4;

  transition: all 0.05s ease-out;
}

#options {
  font-size: large;
  color: var(--foreground);
}

 /* Customize the label (the container) */
 .label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  border: 1px solid var(--shade);
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  background-color: var(--accent);
}

/* On mouse-over, add a grey background color */
.label-container:hover input ~ .checkmark {
  box-shadow: inset 0 0 4px #00000090;
}
.label-container:hover input:checked ~ .checkmark {
  box-shadow: 0 0 4px var(--glow-accent);
  border-color: var(--glow);
}

/* When the checkbox is checked, add a blue background */
.label-container input:checked ~ .checkmark {
  background-color: var(--accent-blue);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.label-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--background);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 